head
    title Prohibition
    meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1")
    meta(name="apple-mobile-web-app-capable" content="yes")
    meta(name="mobile-web-app-capable" content="yes")

body
    .clearfix
        if currentUser
            nav
                .col-xs-3.nav-choice.text-center#map
                    h4 Map
                .col-xs-3.nav-choice.text-center#nodes
                    h4 Bars
                .col-xs-3.nav-choice.text-center#teams
                    h4 Teams
                .col-xs-3.nav-choice.text-center#points
                    h4 Points
