head
    //script(src="//code.jquery.com/jquery-1.11.3.min.js")
    title Censorble Soccer

body
    .container
        .header.clearfix
            nav
                ul.nav.nav-pills.pull-right
                    li.active
                        a Hi
                    li
                        a Hdi
                    li
                        a Hdi
            h3.text-muted Title

