template(name="node")
    .col-xs-12.node
        .jumbotron
            h2.name #{name}
            p drinks
            .upper-latin
                each items
                    .item_name #{name} -
                        span.item_price #{price}
            br
            p tap to purchase
