template(name="points")
    .container
        .jumbotron
            h1 You get
            ul.points-list
                li 1 point for each capture
                li 1 point for visiting a bar for first time
                li 1 point for each successful prohibition
                li 2 points for every link created
