template(name="team")
    li(class="team {{self}}")
        span.name #{name}
        span.score #{score}
        h3 Prohibitions (2/3 used):
        ul
            li place number one
            li place number two
            li can revoke these if it's you
